<%# <form data-controller="users-by-email-auth" action="" method="POST" >
  <div>
    <div class="form__email__container">
      <div class="form__email__label" for="email">
        <label class="form__email__text__container">
          <div class="form__email__text">Email</div>
        </label>
        <div dir="ltr">
          <div class="form__email__input__container">
            <input type="text" name="email" id="email" class="form__email__input" />
          </div>
        </div>
      </div>
    </div>
    <div class="form__email__style"></div>
  </div>
  <div id="airlock-inline-container" aria-live="polite"></div>
  <div class="form__email__button__container">
    <button data-testid="signup-login-submit-btn" type="submit" class="form__button" data-veloute="submit-btn-cypress">
      <span class="form__button__span">
        <span class="form__button__span1" style="background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%); --mouse-x:-0.284695; --mouse-y:0.692182;"></span>
      </span>
      <span class="form__button__text">Continue </span>
    </button>
  </div>
</form> %>
<div data-controller="users-by-email-auth">
  <form >
    <div class="mt-6 border border-gray-300 rounded-md px-3 pt-1 shadow-sm focus-within:ring-1 focus-within:ring-black focus-within:border-black">
      <label for="email" class="block text-xs font-medium text-gray-900">Email</label>
      <input data-users-by-email-auth-target="email" type="text" name="email" id="email" autocomplete="email" placeholder="Email" class="block w-full border-0 p=0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" />
    </div>
    <div class="my-5 sm:my-6">
      <button data-users-by-email-auth-target="submit" type="button" class="form__button w-full inline-flex justify-center items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 airbnb-pink-gradient">Continue</button>
    </div>
  </form>
</div>
