<form action="" method="POST" novalidate="" data-testid="auth-form">
  <input type="hidden" name="authenticity_token" value="V4$.airbnb.co.in$92RXNCQle8A$ky5iCjy9z1NjanEBd9zL9UCajtI27nNr_j7Gs0n3a04=" />
  <input type="hidden" name="from" value="email_login" />
  <input type="hidden" name="airlock_id" value="" />
  <div>
    <div class="form__email__container">
      <label class="form__email__label" for="email-login-email">
        <div class="form__email__text__container">
          <div class="form__email__text">Email</div>
        </div>
        <div dir="ltr">
          <div class="form__email__input__container">
            <input placeholder="Email" name="user[email]" data-testid="email-login-email" aria-required="true" class="form__email__input" id="email-login-email" autocomplete="off" inputmode="email" type="email" aria-describedby="email-login-email-InputField-help" value="" />
          </div>
        </div>
      </label>
    </div>
    <div class="form__email__style"></div>
  </div>
  <div id="airlock-inline-container" aria-live="polite"></div>
  <div class="form__email__button__container">
    <button data-testid="signup-login-submit-btn" type="submit" class="form__button" data-veloute="submit-btn-cypress">
      <span class="form__button__span">
        <span class="form__button__span1" style="background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%); --mouse-x:-0.284695; --mouse-y:0.692182;"></span>
      </span>
      <span class="form__button__text">Continue </span>
    </button>
  </div>
</form>
