<h3 class="text-3xl font-bold underline">
  Hello world!
</h3>
<% if current_user %>
  <p class="text-xl">
    You are logged in
  </p>
<% end  %>
<%= button_to 'logout', destroy_user_session_path, method: :delete  %>
